<!DOCTYPE html>
<head>
<link rel="stylesheet" href="static/leaflet/leaflet.css" />
<script src="static/leaflet/leaflet.js"></script>
<script src="static/jquery-2.2.2.min.js"></script>


<style>
#my-map {
	width:960px;
	height:500px;
}
</style>
</head>

<body>
	<div id="my-map"></div>
<script>
window.onload = function () {
    //http://localhost:5000/test/{z}_{x}_{y}.png
    //http://{s}.tile.osm.org/{z}/{x}/{y}.png
    var map = L.map('my-map');
    L.tileLayer('http://localhost:5000/test/{z}_{x}_{y}.png', {
    maxZoom: 15,
    }).addTo(map);
    map.locate({setView: true, maxZoom: 8});    
//    $.getJSON("census.geojson", function(data) {
//
//    var geojson = L.geoJson(data, {
//      onEachFeature: function (feature, layer) {
//        layer.bindPopup(feature.properties.Area_Name);
//      }
//    });
//
//    var map = L.map('my-map')
//    .fitBounds(geojson.getBounds());
////    .setView([0.0,-10.0], 2);
//
//    basemap.addTo(map);
//    geojson.addTo(map);
//  });

};
</script>
</body>
</html>

